<!doctype html>
<html ng-app="todoApp">
<head>
    <link rel="stylesheet" href="/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/library/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/todo.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/angular.js"></script>
    <script src="/javascript/socket.js"></script>
    <script src="/javascript/requestTodo.js"></script>
    <script src="/javascript/todo.js"></script>
</head>
<body>
<h2>Todo with angular, Node.js and socket.io</h2>
<div ng-controller="TodoController">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="archive()">Filter by not done</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done" ng-click="doneToto(todo._id, todo.done)" >
            <span class="done-{{todo.done}}">
                <strong>{{todo.title}}</strong>
                <span ng-click="removeTodo(todo._id)" class="glyphicon glyphicon-remove alert-danger"></span>
            </span>
        </li>
    </ul>
    <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>
</body>
</html>